certifi==2023.7.22
charset-normalizer==2.0.12
decorator==4.4.2
idna==3.7
imageio==2.16.2
imageio-ffmpeg==0.4.5
moviepy==1.0.3
numpy==1.22.3
Pillow==10.3.0
proglog==0.1.9
requests==2.32.2
tqdm==4.64.0
urllib3==1.26.18
