<table>
    <tbody>
      <tr>
      {% set headers = [
          '',
          'Number',
          'Oldest',
          'Average age',
          '% older than 14 days',
      ] %}
      {% for header in headers -%}
        <td>{{header}}</td>
      {% endfor %}
      </tr>
      {% for summary in summaries -%}
      <tr>
        <td>{{summary['resolver_group']}}</td>
        <td>{{summary['number']}}{% if "previous" in summary %} ({{summary['number']|TrendIconAvsB(summary['previous']['number'])}} {{summary['previous']['number']}}){% endif %}</td>
        <td>{{summary['oldest']}} days{% if "previous" in summary %} ({{summary['oldest']|TrendIconAvsB(summary['previous']['oldest'])}} {{summary['previous']['oldest']}} days){% endif %}</td>
        <td>{{summary['average_age']}} days{% if "previous" in summary %} ({{summary['average_age']|TrendIconAvsB(summary['previous']['average_age'])}} {{summary['previous']['average_age']}} days){% endif %}</td>
        <td>{{summary['percent']}} %{% if "previous" in summary %} ({{summary['percent']|TrendIconAvsB(summary['previous']['percent'])}} {{summary['previous']['percent']}} %){% endif %}</td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
