{
  "type": "section",
  "text": {
    "type": "mrkdwn",
    "text": "{%- if stats['groups'].keys()|length == 0 -%}
        *There are no stats.*
    {%- else -%}
        {%- for group, group_stats in stats['groups'].items() -%}
            {%- if stats['groups'].keys()|length > 1 -%}
_*{{group}}*_ |
            {%- endif -%}
| *{{group_stats["current"]["Total"]}}*\n
        {%- endfor %}
    {%- endif -%}"
  }
}
