{
  "username": "test",
  "channel": "marjamis-test",
	"blocks": [
    {
      "type": "header",
      "text": {
        "type": "plain_text",
        "text": "Stats",
        "emoji": true
      }
    },
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*Total*: {{stats.total}} | *New*: {{stats.new}} | *Old*: {{stats.old}}"
			}
		},
    {
      "type": "header",
      "text": {
        "type": "plain_text",
        "text": "Tickets",
        "emoji": true
      }
    }
    {% for ticket in tickets -%}
    , {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "- *<https://ticket.com/{{ticket.id}}|{{ticket.id}}>* | {{ticket.description}}"
      }
    }
    {% endfor -%}
	]
}
